X_BEARER_TOKEN=your_x_app_bearer_token
X_BOT_USERNAME=NEARBuilders
NEARBUILDERS_NOMINATION_URL=https://nearbuilders.org/api/builders/nominations/x
NEARBUILDERS_API_KEY=your_nearbuilders_api_key
X_STREAM_RULE_TAG=nearbuilders-x-bot
PORT=3000
LOG_LEVEL=info
